


body {
    background-color: #151515;
    color: white;
    font-size: 50pt;
    font-family: "Space Mono", monospace;
    font-weight: 700;
    text-align: center;
    max-width:70vw;
    margin-left: auto;
    margin-right: auto;
}

#display{
    margin:auto;
    margin-top:2vw;
    margin-bottom:2vw;
    width:94%;
    background-color: #191919;
    border-radius: 16px;
    
    text-align: right;
    
}

#text{
    font-size:6vw;
    color:red;
    padding-right:2vw;
}

table {
    margin:auto;
    cursor: pointer;
    table-layout: fixed;
    width:94%;
}

td {
    background-color: #252525;
    border-radius: 16px;
    padding: 15px;
}

td:hover {
    background-color: #404040;
    transition: all 300ms ease-in-out;
}

td:active{
    color:yellow;
    transition: color 80ms;
}

td.nostyle:hover{
    pointer-events: none;
    background-color: #151515;
}


.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }

.smaller {
    font-size: 30pt;
    font-weight: 600;
}

.red {
    color: red;
}